{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block body %}
{{ super() }}


<main class="container">
  <ul class="nav nav-tabs mt-5">
    <li class="nav-item active">
      <a class="nav-link active" aria-current="page" data-toggle="tab" href="#model_parameters">Parameters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#input_data">Input data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#state_variables">State variables</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#observations">Observations</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#mesures">Measures</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#indices">Indices</a>
    </li>
  </ul>



  <div class="tab-content">
    <div id="model_parameters" class="tab-pane fade show active">
      <h3 class="mt-4 mb-3">Parameters</h3>
      {% include 'parameters.html' %}
    </div>

    <div id="input_data" class="tab-pane fade">
      <h3 class="mt-4 mb-3">Input Data</h3>
      {% include 'input_data.html' %}
    </div>

    <div id="state_variables" class="tab-pane fade">
      <h3 class="mt-4 mb-3">State variables</h3>
      {% include 'state_variables.html' %}
    </div>

    <div id="observations" class="tab-pane fade">
      <h3 class="mt-4 mb-3">Observations</h3>
      {% include 'observations.html' %}
    </div>

    <div id="mesures" class="tab-pane fade">
      <h3 class="mt-4 mb-3">Measures</h3>
      {% include 'measures.html' %}
    </div>

    <div id="indices" class="tab-pane fade">
      <h3 class="mt-4 mb-3">Indices</h3>
      {% include 'indices.html' %}
    </div>


  </div>


</main>


{% endblock body %}