<!--<ul class="list-group">-->
<!--  <li class="list-group-item">Serge's model indices</li>-->
<!--  <li class="list-group-item">Tout ce qui est calcule a partir des observations</li>-->
<!--</ul>-->

<h4 class="mt-5 mb-3"><i class="fas fa-angle-right"></i> Indices </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Unit</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
{% for p in indices.values() %}
    <tr>
      <td>{{ p.pretty_name }}</td>
      <td>{{ p.value }}</td>
      <td>{{ p.unit }}</td>
      <td>{{ p.description }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>



<div style="height: 600px"></div>
