<!--<ul class="list-group">-->
<!--  <li class="list-group-item">Input mesh with vtkjs</li>-->
<!--  <li class="list-group-item">Mesh infos (volume, dimensions, ...)</li>-->
<!--&lt;!&ndash;  <li class="list-group-item"></li>&ndash;&gt;-->
<!--</ul>-->




<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="plots/clip_top.png" style="width:100%">
      <!--      <div class="caption">-->
      <!--        <p>Lorem ipsum...</p>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="plots/clip_long.png" style="width:100%">
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="plots/ecg.png">
        <img src="plots/ecg.png" style="width:100%">
      </a>
    </div>
  </div>
</div>












<div style="height: 100px"></div>

{% if input_data %}

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Deformation coefficients from original mesh</th>
      <th scope="col">Deformed mesh observations</th>
    </tr>
    </thead>
    <tbody>
    <tr>


      <td>
        <table class="table w-auto">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
          {% for p in input_data.deform_params.values() %}
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ round(p.value, 2) }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </td>



      <td>
        <div>
          <table class="table w-auto">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
              <th scope="col">Unit</th>
            </tr>
            </thead>
            <tbody>
            {% for p in input_data.deform_features.values() %}
            <tr>
              <td>{{ p.pretty_name }}</td>
              <td>{{ round(p.value, 2) }}</td>
              <td>{{ p.unit }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </td>


    </tr>
    </tbody>
  </table>

{% endif %}







<div style="height: 100px"></div>
<div id="vtk1" style="width: 700px"></div>


<script type="text/javascript" src="plots/MyWebApp.js"></script>
    <script>
      doRender({
        parent: '#vtk1',
        fileNames: ['plots/mesh/xml_mesh.vtp'],
        representations : ['solid'],  // 'wireframe', 'points'
        lutName: 'Warm to Cool (Extended)',
        field: 'PointData:Activ Time (ms)',
        // ext_link: './index_plain.html',
        // colorMap: true,
        // discretize: 10,
      });
    </script>

    <script type="text/javascript">
      // $(document).ready(function () {
        $( window ).resize(function() {
          $('#vtk1').css('height',$('#vtk1').css('width'))
        });
      // });
    </script>



<div style="height: 600px"></div>