<ul class="list-group">
  <li class="list-group-item">Volume, dP/dt, ...</li>
  <li class="list-group-item">Tout ce qui est derive du modele</li>
<!--  <li class="list-group-item"></li>-->
</ul>

<div>
  <img src="plots/plots_lv.png" class="img-fluid">
</div>

<div>
  <img src="plots/rotation.png" class="img-fluid">
</div>




<div style="height: 600px"></div>
