
{% if input_params %}
  {% for k,ps in input_params.groups.items() %}
    <h4 class="mt-5 mb-3"><i class="fas fa-angle-right"></i> {{ input_params.key_title[k] }}</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
          <th scope="col">Name</th>
          <th scope="col">Unit</th>
        </tr>
      </thead>
      <tbody>
    {% for p in ps %}
        <tr>
          <td>{{ p.name }}</td>
          <td>{{ p.value }}</td>
          <td>{{ p._description }}</td>
          <td>{{ p._unit }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

  {% endfor %}
{% endif %}






<div style="height: 600px"></div>




